@charset "UTF-8";

/*
    em HTML é id  em CSS  é #
    em HTML é class  em CSS é .
*/

body{
    background-color: rgb(210, 245, 158);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(34, 56, 2);
}

h1#principal{
    text-align: center;
    background-color: rgb(34, 56, 2);
    color: white;
}

h2{
    color: rgb(101, 145, 34);
}

.basico{
    color: rgb(90, 95, 15);
}

.intermediario{
    color: rgb(101, 145, 34);
}

.avancado{
    color: rgb(145, 38, 34);
}

.destaque{
    background-color: rgb(71, 71, 9);
}