@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0ABEFF 0%,#26D7FF 18%, #9B4DFF 45%, #9B4DFF 45%,#4B2FBF 70%, #0A0F1F 100%); 
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(15, 15, 15);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0ABEFF;
    text-align: center;
    text-shadow: 1px 1px 2px #0685b3cc;
}

h2{
    color: #9B4DFF;
}

p{
    text-align: justify;
}
